.forecast-container {
    background-color: white;
    border-radius: 16px;
    width: 45vw;
    height: 32vh;
    padding-top: 1.2em;
    background-color: #75757A;
    box-shadow: inset 0px 0px 28px 12px #999999;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    overflow: scroll;
}

.forecast {
    font-size: 23px;
    font-weight: 700;
    /* margin-top: 3em; */
}

.daily-item {
    background: #ffffff;
    border-radius: 12px;
    height: 2.1vh;
    margin-top: .5em;
    margin-right: 3em;
    margin-left: 3em;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    padding: .4em 4em;
    box-shadow: 2px 4px 10px .5px rgb(0 0 0 / 30%), 
                inset 0px 0px 18px 2px rgba(75, 75, 75, 0.724);
}

.icon-small {
    width: 2.5em;
    padding-right: 2em;
}

.day {
    color: #212121;
    flex: 1;
    font-weight: 600;
    text-align: left;
    /* margin-left: .5em; */
}

.description {
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
}

.min-max {
    color: #757575;
}

.daily-details-grid {
    display: flex;
    margin-right: 4em;
    margin-left: 4em;
    padding: .5em;
    justify-content: center;
    background-color: #e2e2e3cf;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 6px 8px 16px 2px rgb(0 0 0 / 30%);
}

.daily-details-grid-item {
    display: flex;
    align-items: center;
    height: 2vh;
    font-size: smaller;
    align-content: left;
    padding-left: 5em;
    padding-right: 5em;
}

.detail-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* daily-details-grid-item label:first-child {
    color: #757575;
}

daily-details-grid-item label:last-child {
    color: #212121;
} */