.current-weather-container {
        border-radius: 18px;
        width: 45vw;
        height: 35vh;
        background-color: #75757A;
        box-shadow: inset 0px 0px 28px 12px #999999;
        text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
        overflow: scroll;
}

.location {
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: .25vw;
        margin-top: 2vh;
}

.location-pin {
        height: 4vh;
}

.city {
        font-weight: 400;
        font-size: 2vw;
        /* margin: 0; */
}

.temperature-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        margin-bottom: 2em;
}

.temperature {
        display: flex;
        font-weight: 500;
        font-size: 5.3vw;
}

.weather-icon {
        width: 10vw;
        margin-top: -2vh;
        filter: drop-shadow(5px 20px 6px #222)
}

.divider {
        border: #8e8e8e solid thin;
        margin-top: 2em;
}

.details {
        display: flex;
        /* flex-direction: row; */
        align-items: center;
        margin-top: .5em;
        padding-left: 2em;
        font-size: larger;
        /* text-align: left; */
}