.weather-alert {
    /* position: absolute; */
    height: 34vh;
    width: 45vw;
    margin-top: 2vh;
    border-radius: 16px;
    background-color: #75757A;
    box-shadow: inset 0px 0px 28px 12px #999999;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    overflow: scroll;
}