.App {
  display: flex;
  text-align: center;
  margin: 0;
  height: 96vh;
  width: 100vw;
  /* padding: 1em; */
}

main {
  display: flex;
  width: 100%;
  margin: 1.5vh 1.5vw;
  padding: 1em;
}

/* .navbar {
  padding: 1em;
} */

.sms-search-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-right: 1em;
  padding-left: 1em;
}

.map-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
