.App {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  /* height: 90vh; */
  /* width: 100vw; */
  /* padding: 1em; */
}

main {
  display: flex;
  /* width: 100%; */
  margin: 1.5em;
  /* padding: 1em; */
  align-content: center;
}

/* .navbar {
  padding: 1em;
} */

.sms-search-weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  margin-left: .5vw;
  margin-right: .5vw;
  padding-right: 1em;
  padding-left: 1em;
}

.map-alert {
  display: flex;
  flex-direction: column;
  height: 90%;
  align-items: center;
  /* justify-content: space-between; */
  margin-right: 2vw;
  margin-left: -.5vw;
}
