.App {
  display: flex;
  text-align: center;
  margin: 0;
  height: 96vh;
  width: 100vw;
}

.map-alert {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}